:root {
	--orange:  #b0352c;
	--blue:  #26348c;
}

body{
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;	padding: 20px;
	padding:  0;
	margin:  0;
}


.segment {
	padding-left: 10px;
	padding-right:  10px;
}

@media only screen and (min-width: 600px) {

.segment {
	padding-left: 15%;
	padding-right:  10%;
}

.maria-example{
		margin-left:  20px;
}


h1{
	font-size: 4em;
}

h2{
	font-size: 3em;
	padding-left:  8px;
}

h3{
	font-size: 2em;
}

h4{
	font-size: 1.5em;
}

h3, h4, h5, h6, p, ul, li, cite, button{
	margin-left: 30px;
}

}

p, ul, li{
		line-height: 1.5em;
}


a{
	font-weight: bold;
}

.maria-example{
	font-family: Georgia, serif;
	font-size:  0.8em;
	border:  2px solid;
	border-radius:  12px;
	padding:  20px;
	background-color: white;
	color:  black;
}


.maria-example h2{
	font-size: 2em;
}

.maria-example h3{
	font-size:  1.4em;
}

.maria-example h4{
	font-size:  1em;
}


.maria-example.bad{
border-color:  #fcba03;
background-color:  #ffecb8;
}

.maria-example.good{
border-color:  #189e00;
background-color: #bbe3b3;
}

.maria-example.accent h2{
	padding-left:  0;
	width:  100%;
	border-bottom:  5px solid #09368f;
}

.maria-example.accent h4 {
	padding-left:  6px;
	border-left: 6px solid  #3264c7;
}


.row{
	display: flex;
}

.column {
	min-width:  100px;
	flex-basis: 50%;
	padding: 0 30px;
}


.segment.color {
	color:  white;
	margin-top:  60px;
	padding-top:  1px;
	padding-bottom:  12px;
}

.segment.color a{
	color:  white;
}

.segment.color h2{
	padding-top:  0;
}

.segment.orange {
	background-color:  var(--orange);

}

.segment.blue {
		background-color: var(--blue);
}

.top.segment{
	margin-top: 0;
}

.outline{
	margin:  5px;
}

.outline.red {
	border:  4px dashed red;
}

.outline.blue {
	border:  4px dashed blue;
}

cite{
	font-size: 0.8em;
}

button {
		font-family: 'Lato', sans-serif;	padding: 20px;
	background-color:  var(--orange);
	border:  none;
	color:  white;
	padding:  15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	margin-bottom: 20px;
}